@charset "UTF-8";

#cuerpo{
	background-color: #c1bdba;
	font-family     : 'Titillium Web', sans-serif;
}
.menu_superior{
	background-color: #42515b;
    color           : #a0b3b0;
	cursor          : pointer;
	display         : table;
    float           : left;
    font-size       : 18px;
	margin-top      : 10px;
	margin-left     : 40px;
	margin-bottom   : 20px;
	padding-right   : 60px;
	padding-left    : 60px;
	padding-top     : 10px;
	padding-bottom  : 10px;
    text-align      : center;
	transition      : .5s ease;	
	width           : 50%;
}
.input_registros1{
	background      : none;
	background-image: none;
	border          : 1px solid #a0b3b0;
	border-radius   : 0;
	color           : #ffffff;
	display         : block;
	font-size       : 20px;
	margin-bottom   : 30px;	
	margin-top      : 20%;
	padding         : 5px 10px;
	transition      : border-color .25s ease, box-shadow .25s ease;
	width           : 90%;
}
.input_registros{
	background      : none;
	background-image: none;
	border          : 1px solid #a0b3b0;
	border-radius   : 0;
	color           : #ffffff;
	display         : block;
	font-size       : 20px;
	margin-bottom   : 30px;	
	padding         : 5px 10px;
	transition      : border-color .25s ease, box-shadow .25s ease;
	width           : 95%;
}
#input_clave, #input_correo{
	background      : none;
	background-image: none;
	border          : 1px solid #a0b3b0;	
	border-radius   : 0;
	color           : #ffffff;
	display         : block;
	font-size       : 20px;
	height          : 70%;
	margin-top      : 30px;
	padding         : 5px 10px;
	transition      : border-color .25s ease, box-shadow .25s ease;
	width           : 90%;
}
div{
	background   : #13232f;
	border-radius: 4px;
	color        : #a0b3b0;
	margin-top   : 8%;
	margin-left  : 30%;
	width        : 40%;
}
#formulario_registro, #formulario_inicio{
	height: 100%;	
	width : 90%;
}
#mensaje_bienvenido, #mensaje_registro{
	background : none;
	font-size  : 25px;
	margin-left: 10px;
	text-align : center;
}

#boton_entrar{
	background-color: #01a87a;
	border          : none;	
	color           : #ffffffff;
	cursor          : pointer;	
	font-size       : 24px;
    float        	: left;
	height          : 100%;
	margin-top      : 30px;
	margin-left     : 15px;
	margin-bottom   : 30px;
	padding-top     : 10px;
	padding-bottom  : 10px;
	text-align      : center;
	width           : 95%;
}
#boton_registrar{
	background-color: #01a87a;
	border          : none;
    color        	: #ffffffff;
	cursor          : pointer;	
    font-size    	: 24px;
    float        	: left;
	height          : 100%;
	margin-left     : 2px;
	margin-bottom   : 30px;	
	padding-top     : 10px;
	padding-bottom  : 10px;
    text-align   	: center;
	width           : 100%;
}
/***************************************/
#cuerpo2{
	background-color: #c1bdba;
	display         : flex;
	flex-direction  : row;
	font-family     : 'Titillium Web', sans-serif;
	margin          : 0;
	padding         : 0;
}
#menu_principal{
	background-color: #222222;
	border-radius   : 0px;
	font-size       : 18px;
	flex-basis		: 200px;
	height          : 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	float: left;
}
#op_0, #op_1, #op_2, #op_3, #op_4, #op_5, #op_6, #op_7, #op_8, #op_9, #op_10{
	cursor        : pointer;
	padding-top   : 15px;
	padding-left  : 10px;
	padding-bottom: 15px;
	width         : 300px;
	color: #ffffff;
}
svg{
	height: 20px;
	width: 20px;
	fill: #ffffff;
}
/*--------------------------------------*/
#prestamos{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width: 100vw;
	height          : 100vh;
}
/*       div        */
#titulo_prestamos{
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_prestamos{
	padding-left: 50px;
	color: black;
}
/*       div        */
#formulario_prestmos{
	background-color: #ffffff;
	border-radius	: 0%;
	color			: black;
	height			: 30vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_prestamos{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
#inputs_prestamos{
	padding-top: 15px;
}
/*       div        */
#datos_prestamos{
	background-color: #ffffff;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
}
#tabla_prestamos{
	border         : 1px solid;
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
}
.col_tabla_prestamos{
	border         : 1px solid black;
	color          : black;
	border-collapse: collapse;	
}
#c1{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 100px;
}
#c3, #c4, #c6, #c7{
	width: 100px;
}
#c5{
	width: 150px;
}
/******************************************************************************/
#libros{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width			: 100vw;
	height          : 100vh;
}
#titulo_libros{
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_libros{
	padding-left: 50px;
	color: black;
}
#formulario_libros{
	background-color: #ffffff;
	border-radius	: 0%;
	color			: black;
	height			: 40vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_libros{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
#inputs_libros{
	padding-top: 15px;
}
/*       div        */
#datos_libros{
	background-color: #ffffff;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
}
#tabla_libros{
	border         : 1px solid;
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
}
.col_tabla_libros{
	border         : 1px solid black;
	color          : black;
	border-collapse: collapse;	
}
#cl5, #cl6, #cl1{
	width: 100px;
}
/******************************************************************************/
#editoriales{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width			: 100vw;
	height          : 100vh;
}
#titulo_editoriales{
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_editoriales{
	padding-left: 50px;
	color: black;
}
#formulario_editoriales{
	background-color: #ffffff;
	border-radius	: 0%;
	color			: black;
	height			: 40vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_editoriales{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
#inputs_editoriales{
	padding-top: 15px;
}
#datos_editoriales{
	background-color: #ffffff;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
}
#tabla_editoriales{
	border         : 1px solid;
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
}
.col_tabla_editoriales{
	border         : 1px solid black;
	color          : black;
	border-collapse: collapse;	
	width: 80%
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
}
#cole1, #cole2{
	width: 40%;
}
#cole3, #cole4{
	width: 10%;
}
/******************************************************************************/
#autores{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width			: 100vw;
	height          : 100vh;
}
#titulo_autores{
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_autores{
	padding-left: 50px;
	color: black;
}
#formulario_autores{
	background-color: #ffffff;
	border-radius	: 0%;
	color			: black;
	height			: 40vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_autores{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
#inputs_autores{
	padding-top: 15px;
}
#datos_autores{
	background-color: #ffffff;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
}
#tabla_autores{
	border         : 1px solid;
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
}
.col_tabla_autores{
	border         : 1px solid black;
	color          : black;
	border-collapse: collapse;	
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
	
	width: 80%
}
#col_au1, #col_au4{
	width: 15%;
}
#col_au2, #col_au3{
	width: 25%;
}
#col_au5, #col_au6{
	width: 10%;
}
