@charset "UTF-8";
/******************************************************************************/
#editoriales{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width			: 100vw;
	height          : 100vh;
}
#titulo_editoriales{
	
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_editoriales{
	padding-left: 50px;
	color: black;
}
#formulario_altas_editoriales{
	border-radius	: 0%;
	color			: black;
	height			: 40vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_editoriales{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
.inputs_editoriales{
	padding-top: 15px;
	border:none;
    border-bottom:1px solid #B4AAA8;
}
#datos_editoriales{
	overflow		: auto;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
	border-radius: 10px;
}
#tabla_editoriales{
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
	box-shadow : 4px 4px 4px 4px #757575;
	border-radius: 10px;
}
.col_tabla_editoriales{
	color          : black;
	border-collapse: collapse;	
}
.enc_tabla_editoriales{
	border-collapse: collapse;
}
#enc_e1{
	border-top-left-radius: 10px;
	width: 50%;
	padding-top	   : 1.5%;
	padding-bottom : 1.5%;
	padding-left   : 1%;
}
#enc_e2{
	border-top-right-radius: 10px;
	width: 50%;
}
#cole1, #cole2{
	width: 50%;
	padding-top	   : 1.5%;
	padding-bottom : 1.5%;
	padding-left   : 1%;
}
/*****************************************************/
#div_opciones ul {
	padding-left: 50px;
	list-style  :none;
	margin      : 0;
	color: #ffffff;
}
#div_opciones li{
	background-color: #01a87a;
	cursor                    : pointer;
	padding-right             : 10px;
	padding-left              : 10px;
	float                     :left;
	border-left               : 1px solid #7C7C7C;
	border-right              : 1px solid #7C7C7C;
	border-bottom             : 1px solid #7C7C7C;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
}
/*****************************************************/
#formulario_bajas_editoriales{
	height			: 40vh;
	width			: 100%;
}
#tabla_altas{
	margin: auto;
	border-collapse: collapse;
	background-color          : #ffffff;
	margin-top                : 2%;
	margin-left               : 24%;
	margin-bottom: 			 	1%;
	width                     : 50%;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius    : 10px;
	border-top-right-radius   : 10px;
	box-shadow : 4px 4px 4px 4px #757575;
}
#tabla_bajas{
	margin: auto;
	border-collapse: collapse;
	background-color          : #ffffff;
	margin-top                : 2%;
	margin-left               : 24%;
	margin-bottom: 			 	1%;
	width                     : 50%;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius    : 10px;
	border-top-right-radius   : 10px;
	box-shadow : 4px 4px 4px 4px #757575;
}
#tabla_edicion{
	margin: auto;
	border-collapse: collapse;
	background-color          : #ffffff;
	margin-top                : 2%;
	margin-left               : 24%;
	margin-bottom: 			 	1%;
	width                     : 50%; 
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius    : 10px;
	border-top-right-radius   : 10px;
	box-shadow : 4px 4px 4px 4px #757575;
}
#alta_editorial{
	cursor          : pointer;
	background-color: #01a87a;
	border          : none;
	padding-top     : 2%;
	padding-left    : 5%;
	padding-right   : 5%;
	padding-bottom  : 2%;
	color           : #ffffff;
	font-size       : 18px;
	border-radius   : 8px;
}
#eliminar_editorial{
	cursor          : pointer;
	background-color: #E01D1D;
	border          : none;
	padding-top     : 1%;
	padding-left    : 3%;
	padding-right   : 3%;
	padding-bottom  : 1%;
	color           : #ffffff;
	font-size       : 16px;
	border-radius   : 8px;
}
#editar_editorial{
	cursor          : pointer;
	background-color: #23AFF0;
	border          : none;
	padding-top     : 2%;
	padding-left    : 4%;
	padding-right   : 4%;
	padding-bottom  : 2%;
	color           : #ffffff;
	font-size       : 16px;
	border-radius   : 8px;
}