@charset "UTF-8";
/******************************************************************************/
#editoriales{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width			: 100vw;
	height          : 100vh;
}
#titulo_editoriales{
	
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_editoriales{
	padding-left: 50px;
	color: black;
}
#formulario_editoriales{
	background-color: #ffffff;
	border-radius	: 0%;
	color			: black;
	height			: 40vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_editoriales{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
.inputs_editoriales{
	padding-top: 15px;
	border:none;
    border-bottom:1px solid #B4AAA8;
}
#datos_editoriales{
	overflow		: auto;
	background-color: #ffffff;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
}
#tabla_editoriales{
	border         : 1px solid;
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
}
.col_tabla_editoriales{
	border         : 1px solid black;
	color          : black;
	border-collapse: collapse;	
	width		   : 80%;
	padding-top	   : 1.5%;
	padding-bottom : 1.5%;
	padding-left   : 1%;
}
#cole1, #cole2{
	width: 40%;
}
#cole3, #cole4{
	width: 10%;
}