@charset "UTF-8";
/******************************************************************************/
#libros{
	border-radius	: 0px;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width			: 100vw;
	height          : 100vh;
}
#titulo_libros{
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_libros{
	padding-left: 50px;
	color: black;
}
#div_opciones{
	padding-bottom: 2%;
}
.divs_formularios::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.divs_formularios::-webkit-scrollbar-thumb {
  background: #494848;
  border-radius: 4px;
}
.divs_formularios::-webkit-scrollbar-thumb:hover {
  background: #2E2D2D;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.divs_formularios::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
.columnas_formulario_libros{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
.inputs_libros{
	padding-top: 15px;
	border:none;
    border-bottom:1px solid #B4AAA8;
}
/*       div        */
#datos_libros{
	overflow		: auto;
	border-radius	: 0%;
	height			: 40vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 2%;
	width			: 100%;
	border-radius: 10px;
}
#tabla_libros{
	border-collapse: collapse;	
	margin-top     : 25px;
	margin-left    : 50px;
	width          : 90%;
	box-shadow : 4px 4px 4px 4px #757575;
	border-radius: 10px;
}
.col_tabla_libros{
	color          : black;
	border-collapse: collapse;	
}
.enc_tabla_libros{
	border-collapse: collapse;
}
#cle1{
	border-top-left-radius: 10px;
	width: 20%;
	padding-top	   : 1.5%;
	padding-bottom : 1.5%;
	padding-left   : 1%;	
}
#cle2{
	width: 50%;
	padding-left   : 1%;
}
#cle3{
	width: 15%;
	padding-left   : 1%;
}
#cle4{
	border-top-right-radius: 10px;
	width: 15%;
	padding-left   : 1%;
}
#cl1{
	width: 20%;
	padding-top	   : 1.5%;
	padding-bottom : 1.5%;
	padding-left   : 1%;
}
#cl2{
	width: 50%;
	padding-left   : 1%;
}
#cl3, #cl4{
	width: 15%;
	padding-left   : 1%;
}
#div_opciones ul {
	padding-left: 50px;
	list-style  :none;
	margin      : 0;
	color: #ffffff;
}
#div_opciones li{
	background-color: #01a87a;
	cursor                    : pointer;
	padding-right             : 10px;
	padding-left              : 10px;
	float                     :left;
	border-left               : 1px solid #7C7C7C;
	border-right              : 1px solid #7C7C7C;
	border-bottom             : 1px solid #7C7C7C;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
}
#titulo2{
	margin-top    : 0%;
	margin-bottom : 0%;
	padding-bottom: 0%;
	margin-bottom : 0%;
}
#tabla_altas{
	margin                    : auto;
	border-collapse           : collapse;
	background-color          : #ffffff;
	margin-top                : 2%;
	margin-left               : 14%;
	margin-bottom             : 			 	1%;
	width                     : 70%;
	height                    : 40vh; 
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius    : 10px;
	border-top-right-radius   : 10px;
	box-shadow : 4px 4px 4px 4px #757575
}
#tabla_bajas{
	margin                    : auto;
	border-collapse           : collapse;
	background-color          : #ffffff;
	margin-top                : 2%;
	margin-left               : 14%;
	margin-bottom             : 			 	1%;
	width                     : 70%;
	height                    : 35vh; 
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius    : 10px;
	border-top-right-radius   : 10px;
	box-shadow : 4px 4px 4px 4px #757575
}
#tabla_edicion{
	margin                    : auto;
	border-collapse           : collapse;
	background-color          : #ffffff;
	margin-top                : 2%;
	margin-left               : 14%;
	margin-bottom             : 			 	1%;
	width                     : 70%;
	height                    : 40vh; 
	border-bottom-left-radius : 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius    : 10px;
	border-top-right-radius   : 10px;
	box-shadow : 4px 4px 4px 4px #757575
}
#boton_alta_libros{
	cursor          : pointer;
	background-color: #01a87a;
	border          : none;
	padding-top     : 3%;
	padding-left    : 5%;
	padding-right   : 5%;
	padding-bottom  : 3%;
	color           : #ffffff;
	font-size       : 18px;
	border-radius   : 8px;
}
#boton_baja_libros{
	cursor          : pointer;
	background-color: #E01D1D;
	border          : none;
	padding-top     : 1%;
	padding-left    : 3%;
	padding-right   : 3%;
	padding-bottom  : 1%;
	color           : #ffffff;
	font-size       : 18px;
	border-radius   : 8px;
}
#boton_editar_libros{
	cursor          : pointer;
	background-color: #23AFF0;
	border          : none;
	padding-top     : 3%;
	padding-left    : 5%;
	padding-right   : 5%;
	padding-bottom  : 3%;
	color           : #ffffff;
	font-size       : 18px;
	border-radius   : 8px;
}
.divs_tabla::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.divs_tabla::-webkit-scrollbar-thumb {
  background: #494848;
  border-radius: 4px;
}
.divs_tabla::-webkit-scrollbar-thumb:hover {
  background: #2E2D2D;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.divs_tabla::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}