@charset "UTF-8";

/*--------------------------------------*/
#prestamos{
	border-radius	: 0px;
	background-color: #ffffff;
	display			: flex;
	flex-direction	: column;
	font-size       : 20;
	margin-left     : 0%;
	margin-top      : 0%;
	width           : 100vw;
	height          : 100%;
}
/*       div        */
#titulo_prestamos{
	background-color: #01a87a;
	border-radius	: 0%;	
	height			: 10vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
}
#h2_prestamos{
	padding-left: 50px;
	color: black;
}
/*       div        */
#formulario_prestmos{
	background-color: #ffffff;
	border-radius	: 0%;
	color			: black;
	height			: 50vh;
	width			: 100%;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	font-size		: 16px;
}
.columnas_formulario_prestamos{
	padding-top   : 10px;
	padding-left  : 50px;
	padding-bottom: 10px;
}
#inputs_prestamos{
	padding-top: 15px;
}
/*       div        */
#datos_prestamos{
	overflow		: auto;
	background-color: #ffffff;
	border-radius	: 0%;
	height			: 100vh;
	margin-left     : 0%;
	margin-top      : 0%;
	margin-bottom	: 0%;
	width			: 100%;
}
#tabla_prestamos{
	border         : 1px solid;
	border-collapse: collapse;
	margin-top     : 50px;
	margin-left    : 50px;
	width          : 90%;
}
.col_tabla_prestamos{
	border         : 1px solid black;
	color          : black;
	border-collapse: collapse;	
}
#p1{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width		   : 27%;
	padding-top	   : 1.5%;
	padding-bottom : 1.5%;
	padding-left   : 1%;
}
#p6, #p7{
	width: 10%;
}
#p3, #p4{
	width: 10%;
}
#p2{
	width: 30%;
}